<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='webstyle.css') }}"/>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="../static/logo1.1sinfondo.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../static/logo1.1sinfondo.png">
          <img src="../static/logo1.1sinfondo.png"alt="Logo" width="100px"height="75">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('funcionalidad') }}">Añadir Libro<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('funcionalidadborrar') }}">Borrar Libro</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('funcionalidaddb') }}">Ver Base de Datos</a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('funcionalidadbuscar') }}">Buscar Libro</a>
            </li>


          </ul>
        </div>
      </nav>


        <form class="form-register" action="{{url_for('funcionalidad1')}}" method='POST'>
            <h4>Nuevo Libro</h4>
            <input class="controls"type="text"  name="NombreL"   placeholder="Nombre del Libro">
            <input class="controls"type="text"  name="NombreA"   placeholder="Nombre del Autor">
            <input class="controls"type="text"  name="Editorial"  placeholder="Nombre de la Editorial">
            <select class="controls" type="text" name="EstiloL" placeholder="Estilo del libro(Ficción,Educación,Literatura)">
              <option value="Ficción">Ficción</option>
              <option value="Educación">Educación</option>
              <option value="Literatura" >Literatura</option>
            </select>

            <input class="button" type="submit" value="Introducir">   
        </form>
        


</body>
<footer>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025); margin-top: 50px;">
    © 2023 Copyright: Adrian FR
</div>
</footer>
</html>